.content {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    vertical-align: top;
    height: 63vh;
    width: 90%;
    display: inline-block !important;
    margin-top: 65px;
    overflow: scroll;
}